/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables */

:root {
  --basic-grey-text: #283136;
  --basic-black: #000000;
  --basick-black-and-brow: #231f20;
  --basic-grey: #4d4d4d;
  --basic-light-black: #444444;
  --basic-gray: #666666;
  --basic-gray-hover: #dfdfdf;
  --basic-gray-active: #d5d5d5;
  --basic-orange: #efc849;
  --basic-orange-hover: #eab534;
  --basic-orange-pressing: #e5a722;
  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-pressing: #00aa62;
  --basic-red1: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-pressing: #d7373b;
  --basic-white: #ffffff;
  --basik-light-grey: #eeeeee;
  --basic-white-aluminum: #a6a6a6;
}

/* Global */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-grey-text);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid */

.page {
  height: 100%;
}

/* Main navigation */

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  background-color: transparent;
  text-transform: uppercase;
  padding-top: 10px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

.main-header {
  background-color: var(--basik-light-grey);
}

.main-header-catalog {
  background-color: var(--basik-light-grey);
  margin-bottom: 56px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding-top: 48px;
}

.main-heder-logo {
  padding-right: 202px;
}

.main-heder-logo:hover {
  opacity: 0.7;
}

.main-heder-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.site-navigation li {
  margin-right: 45px;
}


.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--basic-red1);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-cart {
  padding-top: 11px;
  margin: 0 0 0 auto;
}

.user-cart .cart {
  position: relative;
  display: block;
}

.cart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 40px;
}

.cart:hover {
  color: var(--basic-red1);
}

.cart:focus {
  color: var(--basic-black);
  opacity: 30%;
}

/* Sliders */

.slider {
  background-color: var(--basik-light-grey);
  margin-bottom: 74px;
}

.slide p {
  padding: 22px 190px 8px 0;
}

.slide p:nth-child(1n) {
  padding: 11px 180px 18px 0;
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
}

.heading-slide {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  padding: 72px 20px 0 0;
}



.slider .container {
  position: relative;
  min-height: 431px;
}

.slide img {
  position: absolute;
  right: 23px;
  bottom: 6px;
}

.slider-text {
  z-index: 1;
  max-width: 540px;
}

.slider-controls {
  position: absolute;
  top: 311px;
  left: 556px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
}

.slider-controls .current {
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}


/* Features */

.features {
  padding-bottom: 77px;
  border-bottom: 2px solid #EEEEEE;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}

.heading-features {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding-top: 18px;
}

.features-desc {
  padding-bottom: 13px;
  padding-right: 80px;
}

/* Information */

.text-information {
  padding-bottom: 34px;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 62px;
}

.wrap-information {
  display: grid;
  grid-template-columns: 750px 1fr;
}

.heading-information {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  padding-top: 73px;
  padding-bottom: 17px;
}

.subtitle-information {
  font-weight: 700;
  padding-top: 21px;
  padding-bottom: 6px;
}

.statistics-figures {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -2.5px;
}

.statistics-name {
  line-height: 18px;
}

.statistics-figures sup {
  font-size: 26px;
  line-height: 40px;
}

.text-list-order {
  position: relative;
  list-style: none;
}

.text-list-order li {
  padding-bottom: 24px;
}

.text-item-order::before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 11px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red1);
}

.information-stats {
  margin: 40px 50px;
}

.heading-information-stats {
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Contacs */

.contacts {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 49px 50px 47px;
  transform: translateY(50%);
  background-color: var(--basic-white);
}

.contacts-subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 23px;
  color: var(--basic-black);
}

.contacts-adress {
  text-transform: none;
  size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 50px;
  color: var(--basic-gray);
}

.contacts-phone {
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 37px;
  color: var(--basic-gray);
  text-decoration: none;
}

/* Footer */

.footer-contacts {
  min-height: 416px;
  background: url("../img/map.jpg");
  background-size: 100%;
  margin-bottom: 45px;
}

.footer-social {
  display: flex;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin: 23px 130px 0 0;
  padding: 0;
  list-style: none;
}

.social-network li {
  margin-right: 9px;
}

.footer-friends {
  line-height: 22px;
  color: var(--basic-light-black);
}

.footer-friends p {
  margin: 0
}

.heading-friends {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 10px;
}

/* Modal-window */

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 30;
}

.feedback-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 101px;
  padding-right: 99px;
  padding-bottom: 84px;


}

.feedback-item {
  display: flex;
  flex-direction: column;
}

.feedback-item label {
  margin-bottom: 9px;
}

.form-text {
  width: 760px;
  height: 118px;
  margin-bottom: 47px;
  resize: none;
  border: 2px solid #D7DCDE;
  color: #444444;
}

.form-input {
  width: 360px;
  height: 50px;
  border: 2px solid #D7DCDE;
  color: #444444;
}

.form-input:hover,
.form-text:hover {
  border-color: #B4B9BB;
}

.form-input:focus,
.form-text:focus {
  border-color: #000000;
  color: #000000;
  outline: none;
}

.form-input:focus:invalid,
.form-text:focus:invalid {
  border-color: #E74246;
  color: #E74246;
}

.heading-modal {
  font-size: 45px;
  line-height: 52, 73px;
  font-weight: 700;
  margin-top: 63px;
  margin-left: 100px;
  margin-bottom: 37px;
  color: var(--basic-black);
}

.button-modal {
  position: absolute;
  top: 78px;
  right: 90px;
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/close-modal.svg");
  background-position: center;
  border: none;
  opacity: 0.3;
}

.button-modal:hover {
  opacity: 1;
}

.button-modal:active {
  opacity: 0.1;
}

/* partners */

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.partnets-item {
  position: relative;
  padding-left: 35px;
}

.partnets-item:nth-child(2) {
  margin-top: -15px;
}

.partnets-item:not( :nth-child(4n) )::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 50%;
  transform: translateY(-80%);
  right: 0px;
  background: var(--basik-light-grey);
}

.partners {
  padding-bottom: 26px;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 80px;
}

.partners a {
  position: relative;
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

/* button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic-red1);
  border: none;
  text-decoration: none;
  padding: 17px 54px 15px 54px;
  border-radius: 3px;
  display: inline-block;
}

.button:hover {
  background-color: var(--basic-red-hover);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-red-pressing);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-green-hover);
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-green-pressing);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-orange {
  background-color: var(--basic-orange);
}

.button-orange:hover {
  background-color: var(--basic-orange-hover);
}

.button-orange:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-orange-pressing);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-grey {
  color: var(--basic-black);
  background-color: var(--basik-light-grey);
}

.button-grey:hover {
  color: var(--basic-black);
  background-color: var(--basic-gray-hover);
}

.button-grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--basic-gray-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-buy:hover {
  background-color: var(--basic-red-hover);
}

.button-buy:active {
  color: var(--basic-white);
  background-color: var(--basic-red-pressing);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-small {
  padding-right: 40px;
  padding-left: 39px;
}

.button-contacts {
  padding-right: 44px;
  padding-left: 44px;
}

.button-feedback {
  padding-right: 83px;
  padding-left: 83px;
}

.button-filter {
  padding-right: 89px;
  padding-left: 88px;
  margin-top: 28px;
}

.button-purchases {
  padding-right: 72px;
  padding-left: 72px;
}

.button-tiny {
  padding: 15px 20px;
  margin-right: 8px;
}

.button-grey-big {
  padding-right: 77px;
  padding-left: 78px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: #E1E1E1;
  border-radius: 50%;
}

.social-button:hover {
  background: #E74246;
}

.social-button:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active img {
  opacity: 0.3;
}

/* Catalog */
.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
}

.head-row {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--basic-white);
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.head-row::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--basic-white);
  top: 50%;
  transform: translateY(-50%);
  left: 23px;
}

.head-row::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--basic-white);
  top: 50%;
  transform: translateY(-50%);
  left: 46px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  margin: 0;
  margin-bottom: 55px;
  list-style: none;
  gap: 32px 40px;
}

.catalog-list a {
  text-decoration: none;
}

.catalog {
  line-height: 18px;
  color: var(--basic-gray);
}

.catalog-item {
  position: relative;
  width: 360px;
  min-height: 618px;
}

.catalog-item-head {
  position: relative;
  height: 40px;
  background: var(--basic-grey);
  border-radius: 5px 5px 0 0;
  opacity: 0.12;
}

.item-window {
  position: absolute;
  width: 360px;
  min-height: 231px;
  text-align: center;
  background-color: var(--basik-light-grey);
  padding: 26px 0 44px;
  bottom: 0;
  opacity: 0;
}

.item-window p {
  margin: 0;
  padding: 14px 60px 31px;
}

.catalog-item:hover .catalog-item-head,
.catalog-item:hover .item-window {
  opacity: 1;
}

.catalog-item h3 {
  margin-top: 26px;
  margin-bottom: 12px;
  text-align: center;
}

.catalog-item img {
  width: 360px;
  height: 560px;
  margin: 0;
}

.wrapper-item {
  display: grid;
  grid-column-start: 2;
  grid-column-end: -1;
}

.store {
  background-color: var(--basik-light-grey);
}

.heading-catalog {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  padding-top: 72px;
  padding-bottom: 108px;
  text-align: center;
}

.heading-filter {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-bottom: 14px;
}

.heading-item {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagenation {
  margin-bottom: 60px;
}

/* filters */
/*sorting filter*/

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

fieldset:nth-child(2) {
  margin-top: 55px;
  margin-bottom: 27px;
}

.range-filter {
  width: 260px;
  padding-top: 32px;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: #EEEEEE;
  border-radius: 3px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 14px;
}

.range-controls .scale {
  height: 2px;
  background: #D7DCDF;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toogle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px;
  background-color: #ababab;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toogle-min {
  left: 18px;
}

.range-controls .toogle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  line-height: 22px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  background: #EEEEEE;
  font-family: inherit;
  font-size: inherit;
}

.filter ul {
  padding: 0;
  padding-left: 35px;
  margin: 0;
  list-style: none;
}

.filter-list li {
  margin-bottom: 16px;
}

.filter-list label {
  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;
}


.filter-list label:disabled {
  opacity: 0.1;
}

.filter-input-checkbox + .filter-input-label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.filter-input-checkbox:checked + .filter-input-label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -35px;
  top: 0px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox + .filter-input-label:hover::after,
.filter-input-checkbox + .filter-input-label:hover::before,
.filter-input-checkbox:checked + .filter-input-label:hover::after,
.filter-input-checkbox:checked + .filter-input-label:hover::before {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0px;
  width: 25px;
  height: 25px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio + .filter-input-label:hover::after,
.filter-input-radio + .filter-input-label:hover::before,
.filter-input-radio:checked + .filter-input-label:hover::after,
.filter-input-radio:checked + .filter-input-label:hover::before {
  opacity: 1;
}

.sorting {
  display: flex;
  margin-bottom: 40px;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0px;
  margin-top: 5px;
  margin-right: 48px;
}

.sorting-list li {
  padding-right: 25px;
}

.sorting-list li:last-child {
  padding: 0;
}

.sorting-price {
  display: flex;
  margin-top: 10px;
}

.descending {
  width: 0;
  height: 0;
  margin-right: 18px;
  border-top: 10px solid var(--basick-black-and-brow);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}


.ascending {
  width: 0;
  height: 0;
  border-bottom: 10px solid var(--basic-white-aluminum);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  opacity: 0.2;
}

.sorting-list a {
  opacity: 0.3;
}

.sorting-list a:hover {
  opacity: 0.6;
}

.sorting-list a:active {
  opacity: 1;
}

.heading-sorting {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-right: 273px;
}

/* Hidden */

.hidden {
  display: none;
}


